/* Estilos generales */
body {
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-image: url('images/background.svg');
    background-position: center; /* Centra la imagen */
    background-size: 400% auto; /* Ajusta la imagen para cubrir todo el fondo */
    background-attachment: fixed; /* Fija la imagen en su posición mientras se desplaza */
    background-color: rgba(15, 17, 20, 1);
    animation: desplazamiento 10s infinite alternate; 
    background-position-y: 30%;
    background-position-x: 85%;
}
html {
    scroll-behavior: smooth;
}


@keyframes desplazamiento {
    0% { background-position-y: 30%;}
    100% { background-position-y: 36%;}
}

#myHeader {
    color: #fff;
    padding: 10px 0px 20px 0px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 35px; /* Altura inicial */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row-reverse;
    background-color: rgb(21, 23, 26);
    top: 0;
    left: 0;
    transition: top 0.3s ease-in-out, height 0.3s ease-in-out; /* Transición suave para la altura */
}

.menu-toggle svg {
    width: 45px;
    height: 45px;
    fill: #93929f; /* Color del icono */
    cursor: pointer;
}

#myHeader.hidden {
    top: -100px; /* Ajusta este valor según la altura de tu header */
}


#myHeader::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px; /* Grosor de la línea */
    background-color: rgb(51, 50, 59); /* Color de la línea */
}
#myHeader #LucasC {
    font-size: 21px;
    margin-top: 10px;
    margin-right: 2vw;
    transition: font-size 0.3s ease-in-out;
}


header nav {
    width: 80%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Oswald', sans-serif;

}

header a {
    position: relative;
    display: inline-block;
}
header a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Ajusta la posición vertical de la barra */
    width: 0; /* Inicialmente la barra no tiene ancho */
    height: 2px; /* Altura de la barra */
    background: linear-gradient(135deg, #986eeb, #fd68b3 50%, #fdb786 100%);
    transition: width 0.3s ease; /* Transición suave para el ancho de la barra */
}
header a:hover::after {
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    height: 18px;
    display: none;
    align-items: center;
}
#myHeader.visible nav ul{
    display: block;
    height: auto;
}
#myHeader.visible nav {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
}
#myHeader.visible nav #LucasC {
    margin-bottom: 20px;
}
#myHeader.visible {
    height: 370px;
    box-shadow: 0 0 4vw rgba(0, 0, 0, 0.7); 
    overflow-y: hidden;
}
#myHeader.visible nav ul li {
    font-size: 3.5vw;
}
#myHeader.visible nav ul li a{
    margin-top: 2vh;
}
#myHeader.visible nav ul li img{
    margin-top: 2vh;
}

#myHeader.visible #LucasC::after{
    width: 100%;
}

nav ul li {
    display: inline;
    height: 100%;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: smaller;
    font-weight:lighter;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
}
#resume {
    display: flex;
}
nav ul li img{
    width: 18px;
    filter: invert(1);
}
#resume a{
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-weight: 600; 
    font-size: 14.4px; 
    line-height: 21.6px; 
    letter-spacing: 0px;
}

nav div a{
    text-decoration: none;
    color: #fff;
    letter-spacing: -1px;
    font-size: x-large;
    font-weight: bold;
}


/* Estilos para el inicio */

.inicio {
    height: 120vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido-inicio {
    text-align: center;
    margin-top: -20vh;
    width: 90vw;
}

.contenido-inicio img {
    width: 47vw; /* Ajusta el tamaño de tu foto */
    border-radius: 50%; /* Para hacer la foto redonda */
    border: 7px solid white; /* Borde de color blanco */
}

.contenido-inicio div h1{
    margin-top: 2vw;
    margin-bottom: -10px;
    color: #fff;
    font-size: 10vw;
    letter-spacing: -3px;
    font-weight: bolder;
}
.contenido-inicio div p{
    font-size: 5vw;
    margin-top: 3vw;
    color: #fff;
}


footer {
    background-color: rgb(21, 23, 26);
    color: #fff;
    text-align: center;
    padding: 20px 0 20px 0;
    bottom: 0;
    width: 100%;
}

/* Estilos específicos */

#proyectos, #sobre-mi, #contacto, #mySkills {
    background-color: #eaeaea;
}

 /* ABOUT ME */

 .contenido-about {
    border-top: 50px solid #fff;
    border-bottom: 50px solid #fff;

    background-color: #EDEEEF;
    padding: 5vh 0px 5vh 0px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.contenido-about #img-about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contenido-about #img-about #img-me {
    display: none;
}
.contenido-about #img-about div{
    width: 66vw; /* Ajusta el tamaño de tu foto */
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenido-about #img-about div a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% 2.5% 0% 2.5%;
    width: 15%;
    height: 66%;
    border-radius: 50%;
    background-color: rgb(21, 23, 26);
    transition: background-color 0.3s ease;
}

.contenido-about #img-about div a:hover {
    background-color: rgb(114, 127, 131);
}

.contenido-about #img-about div a img {
    width: 50%;
    filter: invert(1);
}

.contenido-about #text-about {
    margin-left: 2vw;
    width: 80vw;
    height: auto;
    background-color: none; 
}
.contenido-about #text-about h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: rgb(33, 37, 41);
}
.contenido-about #text-about h1 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    color: rgb(33, 37, 41);
}
.contenido-about #text-about p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 18.6667px;
    line-height: 29.8667px;
    color: rgb(33, 37, 41);
}
.contenido-about #text-about .university-name {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.contenido-about #text-about ul li p {
    font-size: 15px;
    margin: 0px 0px 0px 0px;
}
.contenido-about #text-about h3 {
    margin-bottom: 0px;
    color: rgb(33, 37, 41);
}
.contenido-about #text-about ul {
    margin-top: 5px;
    color: rgb(33, 37, 41);
}


/* SKILLS */

#mySkills {
    background-color: rgb(45, 45, 45);
    display: flex;
    align-items: center;
    padding-top: 5vh;
    min-height: 60vh;
    flex-direction: column;
}
#mySkills h1 {
    margin-top: 2vw;
    margin-left: 0;
    color: #fff;
    font-size: 8vw;
    letter-spacing: -2px;
    font-weight: bolder;
}
#mySkills #skills-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mySkills #skills-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-height: 10vw;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

#mySkills #skills-section ul li {
    position: relative;
    width: 30%;
    text-align: center;
    line-height: 1.3em;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 255, 255, 0.4);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3.0vw;
    font-weight:lighter;
    letter-spacing: 1px;
    position: relative;
    transition: color 0.3s ease; 
}
#mySkills #skills-section ul li:hover {
    cursor: pointer;
}


#mySkills #skills-section ul li.selected {
    color: white;
}

#mySkills #skills-section ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0; 
    height: 2px; 
    background-color: white;
    transition: width 0.3s ease; 
}
#mySkills #skills-section ul li.selected::after {
    width: 100%;
}


#mySkills #skills-section .items {
    padding-top: 10vw;
}
#mySkills #skills-section .items ul {
    padding: 4vw 0 4vw 0;
    height: auto;
    display: flex;
    justify-content: space-around;
}
#mySkills #skills-section .items ul li:hover {
    cursor: auto;
}

#mySkills #skills-section .items ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#mySkills #skills-section .items ul li div {
    width: 27.5vw;
    height: 27.5vw;
    border-radius: 50%;
    z-index: 10;
    background-color: rgb(231, 231, 231);
    box-shadow: 0 0 3vw rgba(255, 255, 255, 0.229); 
    display: flex;
    align-items: center;
    justify-content: center;
}

#mySkills #skills-section .items ul li div img {
    height: auto;
    width: 70%;
}
#mySkills #skills-section .items ul li p {
    color: #fff;
}


/* PROJECTS */

#projects {
    background-color: rgb(35, 35, 35);
    min-height: 120vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#projects h3 {
    margin-top: 8vw;
    margin-bottom: 0;
    color: rgb(175, 180, 190);
    font-size: 4vw;
}
#projects h1 {
    margin-top: 0vw;
    color: #fff;
    font-size: 8vw;
    letter-spacing: -2px;
    font-weight: bolder;
}
#projects #projects-section {
    height: 100%;
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#projects #projects-section ul {
    padding: 0;
    height: 100%;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#projects #projects-section ul li {
    position: relative;
    width: 100%;
    height: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 1.1vw;
    letter-spacing: 1px;
    margin-bottom: 8vh;
}
#projects #projects-section ul li .image{
    width: 100%;
    min-height: 65%;
    overflow: hidden;
    transition: transform 0.3s ease; 
}
#projects #projects-section ul li .image:hover {
    transform: scale(1.1); 
    cursor: pointer;
}

#projects #projects-section ul li .image img{
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}
#projects #projects-section ul li div.text h4{
    margin-bottom: 0;
    width: 100%;
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 3vw;
    margin-top: 3px;
    line-height: 14px;
    font-style: normal;
    color: #5f5f5f;
}
#projects #projects-section ul li div.text{
    text-align: left;
}
#projects #projects-section ul li div.text h2{
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 800;
    font-size: 6vw;
    line-height: 31.2px;
    font-style: normal;
    color: #ffffff;
    margin-top: 2px;
    margin-bottom: 2px;
}
#projects #projects-section ul li div.text p{
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 3vw;
    line-height: 24px;
    font-style: normal;
    color: #979797;
    margin-top: 3px;
    margin-bottom: 0;
}
#projects #projects-section ul li div.text p.date{
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 3vw;
    line-height: 25.6px;
    font-style: normal;
    color: #5f5f5f;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
    visibility: hidden;
}
.overlay.show {
    opacity: 1;
    visibility: visible;
}
#modal {
    background: #fff;
    padding: 0 6% 0 6%;
    border-radius: 8px;
    margin-top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 85vw;
    overflow-y: auto;
    height: 100vh;
    color: rgb(33, 37, 41);
    position: fixed;
    right: -100%; /* Inicialmente fuera de la pantalla a la derecha */
    transition: transform 0.5s ease, opacity 0.5s ease, right 0.5s ease;
}
#modal.show {
    right: 0; /* Mueve el bloque dentro de la pantalla */
    transform: translateX(0);
    opacity: 1;
}
#modal.hidden {
    right: -100%; /* Mueve el bloque fuera de la pantalla a la derecha */
    transform: translateX(100%);
    opacity: 0;
}
#modal h1, #modal h2 {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 5vw;
    line-height: auto;
    font-style: normal;
    margin-bottom: 15px;
    margin-top: 30px;
}
#modal h2 {
    font-weight: 400;
    font-size: 3vw;
    margin-top: 0;
    line-height: auto;
}
#modal div {
    margin-top: 30px;
    text-align: left;
}
#modal p {
    font-weight: bold;
    margin-bottom: 30px;
}
#modal img {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 15px;
}
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}



/* CONTACT */

#contact {
    background-color: rgb(214, 214, 214);
    min-height: 45vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#contact h1 {
    margin-top: 8vw;
    color: rgb(45, 45, 45);
    font-size: 8vw;
    letter-spacing: -1px;
    font-weight: bolder;
}
#contact #contact-section {
    height: 100%;
    width: 100%;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contact #contact-section form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact #contact-section form .inputs{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
#contact #contact-section form .inputs .block1{
    display: flex;
    height: 100%;
    width: 95%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;/**/
}
#contact #contact-section form .inputs .block1 div{
    height: 6.5vh;
    width: 90vw;
    margin-bottom: 1vh;
}
#contact #contact-section form .inputs .block1 div input{
    height: 90%;
    width: 98%;
    padding-left: 2%;
    border-radius: 7px;
    outline: none;
    border: 2px solid rgb(150, 150, 150, 0.8);
}
#contact #contact-section form .inputs .block1 div input::placeholder {
    font-family: "Source Sans Pro", sans-serif; 
    font-weight:bolder; 
    font-size: 3vw; 
    line-height: 24px;
    color: #49505746; 
    font-style: normal;
}
#contact #contact-section form .inputs .block2{
    display: flex;
    height: 30vh;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}
#contact #contact-section form .inputs .block2 textarea{
    padding-top: 10px;
    resize: none;
    padding-left: 2%;
    height: 100%;
    width: 98%;
    border-radius: 7px;
    outline: none;
    border: 2px solid rgb(150, 150, 150, 0.8);
}
#contact #contact-section form .inputs .block2 textarea::placeholder {
    font-family: "Source Sans Pro", sans-serif; 
    font-weight:bolder; 
    font-size: 3vw; 
    line-height: 24px;
    color: #49505746; 
    font-style: normal;
}

#contact #contact-section form button {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-weight: 700; 
    font-size: 5vw; 
    height: 11vw;
    line-height: 27px; 
    color: rgb(255, 255, 255); 
    background-color: rgb(35, 35, 35); 
    border: none; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;

}
#contact #contact-section form button:hover {
    background-color: rgb(70, 70, 70); 
}
.invalid-feedback{
    color: red;
}

.invalid-feedback,
.empty-feedback {
display: none;
}

.was-validated :placeholder-shown:invalid ~ .empty-feedback {
display: block;
}

.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
display: block;
}

.is-invalid,
.was-validated :invalid {
border-color: #dc3545;
}

@media (min-width: 768px) {
    /******************************************************************/
    /* Estilos generales */
    body {
        font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

        margin: 0;
        padding: 0;
        background-image: url('images/background.svg');
        background-position: center; /* Centra la imagen */
        background-size: 140% auto; /* Ajusta la imagen para cubrir todo el fondo */
        background-attachment: fixed; /* Fija la imagen en su posición mientras se desplaza */
        background-color: rgb(15,17,20);
        animation: desplazamiento 10s infinite alternate; /* Aplica una animación de desplazamiento */
    }
    html {
        scroll-behavior: smooth;
    }
    .menu-toggle svg {
        display: none;
    }

    @keyframes desplazamiento {
        0% { background-position-y: 5%;
            background-position-x: 55%; } /* La imagen se desplaza hacia arriba */
        100% { background-position-y: 15%;
            background-position-x: 50%; } /* La imagen vuelve a su posición original */
    }

    /******************************************************************/
    #myHeader {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.5), rgba(0,0,0,0));
        color: #fff;
        padding: 20px;
        padding-left: 0;
        text-align: center;
        position: fixed;
        top: 0;
        width: 100%;
        height: 70px;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.3s ease-in-out, height 0.3s ease-in-out;
    }
    
    #myHeader::after {
        content: none;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0px; /* Grosor de la línea */
        background-color: none; /* Color de la línea */
    }
    #myHeader.scrolled {
        background-color: rgb(21, 23, 26);
        background-image: none;
        height: 30px;
    }
    #myHeader.scrolled::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px; /* Grosor de la línea */
        background-color: rgb(51, 50, 59); /* Color de la línea */
    }
    #myHeader #LucasC {
        font-size: 35px;
        margin-top: 0;
        margin-right: 2vw;
        transition: font-size 0.3s ease-in-out;
    }
    #myHeader.scrolled #LucasC {
        font-size: 25px;
    }
    
    header nav {
        width: 80%;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        font-family: 'Oswald', sans-serif;

    }

    header a {
        position: relative;
        display: inline-block;
    }
    header a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px; /* Ajusta la posición vertical de la barra */
        width: 0; /* Inicialmente la barra no tiene ancho */
        height: 2px; /* Altura de la barra */
        background: linear-gradient(135deg, #986eeb, #fd68b3 50%, #fdb786 100%);
        transition: width 0.3s ease; /* Transición suave para el ancho de la barra */
    }
    header a:hover::after {
        width: 100%;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        height: 18px;
        display: flex;
        align-items: center;
    }

    nav ul li {
        display: inline;
        height: 100%;
        margin-right: 20px;
    }

    nav ul li a {
        color: #fff;
        height: 100%;
        text-decoration: none;
        text-transform: uppercase;
        font-size: smaller;
        font-weight:lighter;
        letter-spacing: 1.5px;
        display: flex;
        align-items: center;
    }
    #resume {
        display: flex;
    }
    nav ul li img{
        width: 18px;
        filter: invert(1);
    }
    #resume a{
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif; 
        font-weight: 600; 
        font-size: 14.4px; 
        line-height: 21.6px; 
        letter-spacing: 0px;
    }

    nav div a{
        text-decoration: none;
        color: #fff;
        letter-spacing: -1px;
        font-size: x-large;
        font-weight: bold;
    }
    /* Estilos para el inicio */
    .inicio {
        height: 100vh; /* Toma el 100% de la altura de la ventana del navegador */
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenido-inicio {
        text-align: center;
        margin-top: 0;
    }

    .contenido-inicio img {
        width: 200px; /* Ajusta el tamaño de tu foto */
        border-radius: 50%; /* Para hacer la foto redonda */
        border: 6px solid white; /* Borde de color blanco */
    }

    .contenido-inicio div h1{
        margin-top: 2vw;
        margin-bottom: -10px;
        color: #fff;
        font-size: 60px;
        letter-spacing: -3px;
        font-weight: bolder;
    }
    .contenido-inicio div p{
        font-size: 24px;
        color: #fff;
    }


    footer {
        background-color: rgb(21, 23, 26);
        color: #fff;
        text-align: center;
        padding: 20px 0 20px 0;
        bottom: 0;
        width: 100%;
    }

    /* Estilos específicos */

    #proyectos, #sobre-mi, #contacto, #mySkills {
        background-color: #eaeaea;
    }


    /* ABOUT ME */

    .contenido-about {
        border-top: 50px solid #fff;
        border-bottom: 50px solid #fff;

        background-color: #EDEEEF;
        padding: 5vh 0px 5vh 0px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    .contenido-about #img-about {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .contenido-about #img-about #img-me {
        display: block;
        width: 22vw; /* Ajusta el tamaño de tu foto */
        border-radius: 50%; /* Para hacer la foto redonda */
        border: 6px solid white; /* Borde de color blanco */
    }
    .contenido-about #img-about div{
        width: 22vw; /* Ajusta el tamaño de tu foto */
        height: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contenido-about #img-about div a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0% 2.5% 0% 2.5%;
        width: 15%;
        height: 66%;
        border-radius: 50%;
        background-color: rgb(21, 23, 26);
        transition: background-color 0.3s ease;
    }

    .contenido-about #img-about div a:hover {
        background-color: rgb(114, 127, 131);
    }

    .contenido-about #img-about div a img {
        width: 50%;
        filter: invert(1);
    }

    .contenido-about #text-about {
        margin-left: 2vw;
        width: 50vw;
        height: auto;
        background-color: none; 
    }
    .contenido-about #text-about h2 {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: rgb(33, 37, 41);
    }
    .contenido-about #text-about h1 {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 28.8px;
        color: rgb(33, 37, 41);
    }
    .contenido-about #text-about p {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 300;
        font-size: 18.6667px;
        line-height: 29.8667px;
        color: rgb(33, 37, 41);
    }
    .contenido-about #text-about .university-name {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 500;
        font-size: 16px;
    }
    .contenido-about #text-about ul li p {
        font-size: 15px;
        margin: 0px 0px 0px 0px;
    }
    .contenido-about #text-about h3 {
        margin-bottom: 0px;
    }
    .contenido-about #text-about ul {
        margin-top: 5px;
    }

    /* SKILLS */

    #mySkills {
        background-color: rgb(45, 45, 45);
        height: 60vw;
        display: flex;
        padding-top: 10vh;
        align-items: flex-start;
        flex-direction: column;
    }
    #mySkills h1 {
        margin-top: 2vw;
        margin-left: 12.5vw;
        color: #fff;
        font-size: 3vw;
        letter-spacing: -2px;
        font-weight: bolder;
    }
    #mySkills #skills-section {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #mySkills #skills-section ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        min-height: 4.5vw;
        width: 75vw;
        display: flex;
        justify-content: space-around;
    }

    #mySkills #skills-section ul li {
        position: relative;
        width: 20%;
        text-align: center;
        line-height: 3.5em;
        display: inline-block;
        font-family: 'Oswald', sans-serif;
        color: rgb(255, 255, 255, 0.4);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.1vw;
        font-weight:lighter;
        letter-spacing: 1px;
        position: relative;
        transition: color 0.3s ease; 
    }
    #mySkills #skills-section ul li:hover {
        cursor: pointer;
    }


    #mySkills #skills-section ul li.selected {
        color: white;
    }

    #mySkills #skills-section ul li::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 0; 
        height: 2px; 
        background-color: white;
        transition: width 0.3s ease; 
    }
    #mySkills #skills-section ul li.selected::after {
        width: 100%;
    }


    #mySkills #skills-section .items {
        padding-top: 0;
    }
    #mySkills #skills-section .items ul {
        padding: 4vw 0 4vw 0;
        height: auto;
        display: flex;
        justify-content: space-around;
    }
    #mySkills #skills-section .items ul li:hover {
        cursor: auto;
    }

    #mySkills #skills-section .items ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #mySkills #skills-section .items ul li div {
        width: 12vw;
        height: 12vw;
        border-radius: 50%;
        z-index: 10;
        background-color: rgb(231, 231, 231);
        box-shadow: 0 0 3vw rgba(255, 255, 255, 0.229); 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #mySkills #skills-section .items ul li div img {
        height: auto;
        width: 70%;
    }
    #mySkills #skills-section .items ul li p {
        color: #fff;
    }


    /* PROJECTS */

    #projects {
        background-color: rgb(35, 35, 35);
        height: 60vw; /* Altura fija */
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    #projects h3 {
        margin-top: 8vw;
        margin-left: 12.5vw;
        margin-bottom: 0;
        color: rgb(175, 180, 190);
        font-size: 1.6vw;
    }
    #projects h1 {
        margin-top: 0vw;
        margin-left: 12.5vw;
        color: #fff;
        font-size: 3vw;
        letter-spacing: -2px;
        font-weight: bolder;
    }
    #projects #projects-section {
        height: 100%;
        margin-left: 12.5vw;
        margin-right: 12.5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #projects #projects-section ul {
        padding: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    #projects #projects-section ul li {
        position: relative;
        width: 30%;
        height: 70%;
        text-align: center;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin-bottom: 0;
        font-size: 1.1vw;
        letter-spacing: 1px;
    }
    #projects #projects-section ul li .image{
        width: 100%;
        height: 45%;
        overflow: hidden;
        border: 0px solid black;
        transition: transform 0.3s ease; 
    }
    #projects #projects-section ul li .image:hover {
        transform: scale(1.1); 
        cursor: pointer;
    }

    #projects #projects-section ul li .image img{
        width: 100%; 
        height: 100%;
        object-fit: cover; 
    }
    #projects #projects-section ul li div.text h4{
        margin-bottom: 0;
        width: 100%;
        font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-weight: 600;
        font-size: 12px;
        margin-top: 12px;
        line-height: 14px;
        font-style: normal;
        color: #5f5f5f;
    }
    #projects #projects-section ul li div.text{
        text-align: left;
    }
    #projects #projects-section ul li div.text h2{
        font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-weight: 800;
        font-size: 24px;
        line-height: 31.2px;
        font-style: normal;
        color: #ffffff;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    #projects #projects-section ul li div.text p{
        font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        font-style: normal;
        color: #979797;
        margin-top: 3px;
        margin-bottom: 0;
    }
    #projects #projects-section ul li div.text p.date{
        font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-weight: 400;
        font-size: 11px;
        line-height: 25.6px;
        font-style: normal;
        color: #5f5f5f;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.5s;
        visibility: hidden;
    }
    .overlay.show {
        opacity: 1;
        visibility: visible;
    }
    #modal {
        background: #fff;
        padding: 0 5% 0 5%;
        border-radius: 8px;
        margin-top: 9vh;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        text-align: center;
        max-width: 60%;
        max-height: 80%;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        color: rgb(33, 37, 41);
        right: 0%; /* Inicialmente fuera de la pantalla a la derecha */
    }
    #modal.show {
        right: 0; /* Mueve el bloque dentro de la pantalla */
        transform: translateX(0);
        opacity: 1;
    }
    #modal.hidden {
        right: 0%; /* Mueve el bloque fuera de la pantalla a la derecha */
        transform: translateX(0);
        opacity: 0;
    }


    #modal h1, #modal h2 {
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 57.6px;
        font-style: normal;
        margin-bottom: 0;
        margin-top: 30px;
    }
    #modal h2 {
        font-weight: 400;
        font-size: 25px;
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 57.6px;
    }
    #modal p {
        font-weight: bold;
        margin-bottom: 30px;
    }
    #modal div {
        text-align: left;
    }
    #modal img {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        cursor: pointer;
    }



    /* CONTACT */

    #contact {
        background-color: rgb(214, 214, 214);
        height: 45vw;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #contact h1 {
        margin-top: 8vw;
        color: rgb(45, 45, 45);
        font-size: 3vw;
        letter-spacing: -2px;
        font-weight: bolder;
    }
    #contact #contact-section {
        height: 100%;
        width: 100%;
        margin-left: 10vw;
        margin-right: 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #contact #contact-section form {
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #contact #contact-section form .inputs{
        width: 80%;
        height: 60%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    #contact #contact-section form .inputs .block1{
        display: flex;
        height: 100%;
        width: 50%;
        flex-direction: column;
        justify-content: space-between;
    }
    #contact #contact-section form .inputs .block1 div{
        height: 25%;
        width: 94%;
        margin-bottom: 0;
    }
    #contact #contact-section form .inputs .block1 div input{
        height: 90%;
        width: 100%;
        padding-left: 15px;
        border-radius: 7px;
        outline: none;
        border: 2px solid rgb(150, 150, 150, 0.8);
    }
    #contact #contact-section form .inputs .block1 div input::placeholder {
        font-family: "Source Sans Pro", sans-serif; 
        font-weight:bolder; 
        font-size: 16px; 
        line-height: 24px;
        color: #49505746; 
        font-style: normal;
    }
    #contact #contact-section form .inputs .block2{
        display: flex;
        height: 100%;
        width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items:flex-end;
    }
    #contact #contact-section form .inputs .block2 textarea{
        padding-top: 15px;
        resize: none;
        padding-left: 15px;
        height: 100%;
        width: 94%;
        border-radius: 7px;
        outline: none;
        border: 2px solid rgb(150, 150, 150, 0.8);
    }
    #contact #contact-section form .inputs .block2 textarea::placeholder {
        font-family: "Source Sans Pro", sans-serif; 
        font-weight:bolder; 
        font-size: 16px; 
        line-height: 24px;
        color: #49505746; 
        font-style: normal;
    }

    #contact #contact-section form button {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif; 
        font-weight: 700; 
        font-size: 18px; 
        line-height: 27px; 
        color: rgb(255, 255, 255); 
        background-color: rgb(35, 35, 35); 
        border: none; 
        padding: 10px 20px;
        border-radius: 5px;
        height: auto;
        cursor: pointer;
        transition: background-color 0.2s ease;

    }
    #contact #contact-section form button:hover {
        background-color: rgb(70, 70, 70); 
    }
    .invalid-feedback{
        color: red;
    }

    .invalid-feedback,
    .empty-feedback {
    display: none;
    }

    .was-validated :placeholder-shown:invalid ~ .empty-feedback {
    display: block;
    }

    .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
    display: block;
    }

    .is-invalid,
    .was-validated :invalid {
    border-color: #dc3545;
    }

}